html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

img {
  width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Maitree', serif;
  color: black;
  letter-spacing: 5px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  text-transform: capitalize;
  margin: 10px 0;
  font-size: 35px;
}

h3 {
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
}

h4 {
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
}

li {
  margin: 5px 0;
}

.text {
  text-align: center;
}

body {
  background-image: url("./assets/01d35212.png");
  background-attachment: fixed;
}

.appDescription {
  width: 70%;
  margin: 40px auto;
  overflow: scroll;
  max-height: 180px;
  line-height: 1.5;
}

.userResults, .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.userSelection, .userSuggestion {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.userSuggestion {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.sugarCounter {
  background-color: #FFB454;
  padding: 1%;
  margin: 3% auto;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

.sugarCounter span {
  font-weight: bolder;
  font-size: larger;
}

ul, li {
  list-style-type: none;
}

span {
  font-weight: 800;
}

button {
  margin: 5px;
  border: none;
  padding: 10px;
  background-color: #FFB454;
  border-radius: 10px;
  width: 45%;
  border: 1px solid transparent;
}

button:hover, button:focus-within {
  border: 1px solid black;
  cursor: pointer;
}

form {
  margin: 10px auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

select {
  width: 30vw;
  text-align: center;
  padding: 1%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.button {
  text-align: center;
  margin: 10px 0;
}

.subBtn {
  width: 40%;
  margin: 0 auto;
}

.subBtn, .saveBtn {
  background-color: #AEBDFF;
}

.userOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.userOptions button {
  width: 45%;
  margin: 10px 0;
}

.food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.savedFood {
  width: 40%;
  margin: 0 auto;
}

.image {
  width: 30vw;
  overflow: hidden;
  max-width: 400px;
}

.image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.showFoodPairs {
  border: 1px solid black;
}

.animate {
  visibility: visible;
  -webkit-animation: slideDown .5s ease-out;
          animation: slideDown .5s ease-out;
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 700px) {
  .userSelection,
  .userSuggestion,
  .savedFood {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .image {
    width: 50vw;
    height: 50vw;
  }
  h4 {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 95%;
  }
  .userOptions button {
    width: 80%;
  }
  .subBtn,
  .saveBtn {
    width: 80%;
  }
  select {
    width: 70vw;
  }
  h4 {
    font-size: 20px;
  }

  .appDescription {
    width: 80%;
  }
}
/*# sourceMappingURL=index.css.map */